<!DOCTYPE html>
{% extends "base.html" %}

{% block "title" %}Užsakymai{% endblock %}

{% block "content" %}

<h1> Užsakymai </h1>
<p>Vykdomi užsakymai:</p>

{% for order in orders %}
<p><a href="{% url 'order' order.pk %} ">{{ order.vehicle }}</a> <span class="{% if order.deadline_over %}text-danger{% endif %}">({{ order.deadline }})</span> </p>
<!--<p>{{ order.owner.username }}</p>-->
<!--<img class="rounded-circle" src="{{order.owner.profile.photo.url}}">-->
<hr>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; pirmas</a>
            <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}