{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block "title" %}Naujas užsakymas/koregavimas{% endblock %}

{% block "content" %}

<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Naujas užsakymas/koregavimas</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Išsaugoti</button>
        </div>
    </form>
</div>

{% endblock %}