<!DOCTYPE html>
{% extends "base.html" %}

{% block "title" %}Užsakymas{% endblock %}

{% block "content" %}

<h1> Užsakymas: </h1>
<br>
    <p><strong>Data: </strong>{{ order.date }}</p>
    <p><strong>Automobilis: </strong>{{ order.vehicle }}</p>
    <p><strong>Statusas: </strong>{{ order.get_status_display }}</p>
<hr>
<table class="table table-striped">
    <tr>
        <th>Paslauga</th>
        <th>Kaina</th>
        <th>Kiekis</th>
        <th>Suma</th>
    </tr>

{% for line in order.lines.all %}
    <tr>
        <td>{{ line.service }}</td>
        <td>{{ line.service.price }}</td>
        <td>{{ line.quantity }}</td>
        <td>{{ line.sum }}</td>
    </tr>
{% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><strong>{{ order.total }}</strong></td>
    </tr>
</table>
{% endblock %}